<section id="learn" class="p-5">
    <div class="container">
        <h1 class="text-center">About <span>Us</span> </h1>
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="../../../../../assets/img/Stop.png" alt="Gambar 2" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <p class="lead">
                    Stop <span>Crypto</span>
                </p>
                <img src="../../../../../assets/img/langkah.JPG" alt="langkah-langkah" class="img-fluid">
                <p>
                    Didesain untuk investor millenial, kamu dapat invest di saham ternama dengan mudah untuk meraih mimpimu menuju kebebasan finansial.
                </p>
                <a routerLink="/about-us" class="btn btn-outline-success mt-3">Read More</a>
            </div>
        </div>
    </div>
</section>