<section class="p-5" id="courses">
    <h1 class="text-center">Our <span>Article</span> </h1>
    

            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8 p-5">
                        <p class="lead">
                            #1 <span>Article</span>
                        </p>
                        <img src="https://stockbit.com/assets/template/screener.png" alt="langkah-langkah" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <h3>My First Article</h3>
                        <p> <strong>Platform Charting Modern</strong> </p>
                        <p>
                            Monitor harga saham dari platform charting kelas professional.
                        </p>
                        <p> <strong>Screnner Terbaik</strong> </p>
                        <p>
                            Cari saham yang layak di investasi dengan mudah.
                        </p>
                        <p> <strong>Data Finansial Yang Lengkap</strong> </p>
                        <p>
                            Cari saham yang layak di investasi dengan mudah.
                        </p>
                        <a href="https://stockbit.com/" target="_blank" class="btn btn-outline-success mt-3">Lebih lanjut ..</a>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <p class="lead">
                            #2 <span>Article</span>
                        </p>
                        <h3>Smart Notification</h3>
                        <p>
                            Bagaikan mempunyai asisten yang memberitahu kamu sewaktu laporan dan berita terbaru dirilis.
                        </p>
                        <a href="https://stockbit.com/" target="_blank" class="btn btn-outline-success mt-3">Lebih lanjut ..</a>
                    </div>
                    <div class="col-md-4 p-5">
                        <img src="../../../../../assets/img/iphone6.png" alt="ip" class="img-fluid">
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <img src="../../../../../assets/img/laptop.png" alt="laptop" class="img-fluid">
                    </div>
                    <div class="col-md-4 p-5">
                        <p class="lead">
                            #3 <span>Article</span>
                        </p>
                        <h3>Pilih Produk Investasi yang Tepat</h3>
                        <p style="text-align: justify;">
                            &nbsp;&nbsp;&nbsp;Gunakan kemampuan analisa teknikal maupun fundamentalmu untuk mendapatkan keuntungan.
                        </p>
                        <a href="https://stockbit.com/" target="_blank" class="btn btn-outline-success mt-3">Lebih lanjut ..</a>
                    </div>
                </div>
            </div>

        <div class="align-items-center text-center">
            <a routerLink="/article-list" class="btn btn-outline-success mt-3">Show More Article</a>
        </div>
    
  </section>
