<section class="text-dark p-5 text-center text-sm-start" id="courses">
    
    <div class="container">
        <div class="row g-4">

            <h1 class="text-center color-pallete">All Article</h1>
            <p class="lead text-center"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est assumenda deleniti veniam commodi optio labore harum laborum placeat eligendi. Voluptates ducimus quod incidunt asperiores dolorum veniam cumque fugit officia ad</p>
    

            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/1.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-currency-dollar"></i>
                        <h6 class="card-title">Article <span>#1</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/2.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-google"></i>
                        <h6 class="card-title">Article <span>#2</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/3.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-people"></i>
                        <h6 class="card-title">Article <span>#3</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/1.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-currency-dollar"></i>
                        <h6 class="card-title">Article <span>#4</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/2.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-google"></i>
                        <h6 class="card-title">Article <span>#5</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <div class="card">
                    <img src="../../../../assets/img/3.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <i class="bi bi-people"></i>
                        <h6 class="card-title">Article <span>#6</span></h6>
                        <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <a href="https://ajaib.co.id/" target="_blank" class="btn btn-white text-end">Lebih lanjut ...</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
    
  </section>
