<footer class="text-center" style="background-color: #f1f1f1;">
    
    <!-- Grid container -->
    <div class="container pt-4">

        <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                  <a routerLink=""><img src="../../../../assets/img/Stop-removebg-preview.png" alt="icon" class="img-fluid" style="height: 300px;"></a>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                  <!-- Links -->
                  <h6 class="text-uppercase mb-4">
                    Products
                  </h6>
                  <p>
                    <a href="https://ajaib.co.id/" target="_blank" class="text-reset">Saham</a>
                  </p>
                  <p>
                    <a href="https://stockbit.com/" target="_blank" class="text-reset">Crypto</a>
                  </p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Useful links
                  </h6>
                  <p>
                    <a routerLink="" class="text-reset">Home</a>
                  </p>
                  <p>
                    <a routerLink="/about-us" class="text-reset">About Us</a>
                  </p>
                  <p>
                    <a routerLink="/article-list" class="text-reset">Article</a>
                  </p>
                  <p>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fas fa-home me-3"></i> Jakarta Selatan stopcrypto@sc.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 62 234 567 88</p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>

      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://facebook.com"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.google.com/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://stockbit.com/">StopCrypto</a>
    </div>
    <!-- Copyright -->
</footer>